{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint",
    "problems",
    "plugin:node/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "plugins": [
    "security"
  ],
  "rules": {
    "strict": "off",
    "max-len": ["error", { "code": 128, "ignoreTemplateLiterals": true, "ignoreTrailingComments": true }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": ["block-like", "function"] },
      { "blankLine": "always", "prev": "block-like", "next": ["return"] }
    ],
    "eqeqeq": ["warn", "always", {"null": "ignore"}],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "camelcase": "off",
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "no-console": "off",
    "no-useless-constructor": "error",
    "object-property-newline": ["error", { "allowAllPropertiesOnSameLine": true }],
    "object-curly-spacing": ["error", "always"],
    "object-curly-newline": ["error", { "multiline": true, "minProperties": 9, "consistent": true }],
    "template-tag-spacing": ["error", "always"],
    "node/exports-style": ["error", "module.exports"],
    "node/file-extension-in-import": ["error", "always"],
    "node/prefer-global/buffer": ["error", "always"],
    "node/prefer-global/console": ["error", "always"],
    "node/prefer-global/process": ["error", "always"],
    "node/prefer-global/url-search-params": ["error", "always"],
    "node/prefer-global/url": ["error", "always"],
    "node/prefer-promises/dns": "error",
    "node/prefer-promises/fs": "error"
  }
}
