{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint",
    "plugin:node/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "strict": 0,
    "max-len": [2, { "code": 128, "ignoreTemplateLiterals": true, "ignoreTrailingComments": true }],
    "padding-line-between-statements": [
      2,
      { "blankLine": "always", "prev": "*", "next": ["block-like", "function"] },
      { "blankLine": "always", "prev": "block-like", "next": ["return"] }
    ],
    "eqeqeq": [1, "always", {"null": "ignore"}],
    "func-style": [2, "declaration", { "allowArrowFunctions": true }],
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "camelcase": 0,
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "brace-style": [2, "stroustrup", { "allowSingleLine": false }],
    "no-console": 0,
    "no-useless-constructor": 2,
    "object-property-newline": [2, { "allowAllPropertiesOnSameLine": true }],
    "object-curly-spacing": [2, "always"],
    "object-curly-newline": [2, { "multiline": true, "minProperties": 9, "consistent": true }],
    "template-tag-spacing": [2, "always"],
    "node/exports-style": [2, "module.exports"],
    "node/file-extension-in-import": [2, "always"],
    "node/prefer-global/buffer": [2, "always"],
    "node/prefer-global/console": [2, "always"],
    "node/prefer-global/process": [2, "always"],
    "node/prefer-global/url-search-params": [2, "always"],
    "node/prefer-global/url": [2, "always"],
    "node/prefer-promises/dns": 2,
    "node/prefer-promises/fs": 2
  }
}
